<link rel="stylesheet" href="styles/main.css">
<div class="header">
    <div class="header-item">
         <a href="/today"><img class="header-logo" src="photos/today.png" alt="">Today</a>
         
    </div>
    <div class="header-item">
        <a href="/work"><img class="header-logo" src="photos/to-do.png" alt="">Work</a>       
    </div>
</div>
