<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today</title>
</head>
<body>
<%-include("partitions/header.ejs") %>
<div class="container">
<% if(locals.work) { %>
<%  for(let i=0; i<work.length; i++){ %>
    <div class="list-item"><input type="checkbox"><%=work[i]%></input></div>
    <% }} %>
<div class="append">
    <form action="/addwork" method="post">
        <input type="text" name="element"  placeholder="Add Item" required>
        <input type="submit" value="Add"> 
    </form>
</div>
</div>

<%-include("partitions/footer.ejs") %>
</body>
</html>